# site settings
title: Chicago Urban Heritage Project
subtitle: by Chicago Studies
email: edward5@uchicago.edu
description: A Chicago Studies Project
baseurl: # the subpath of your site, e.g. /blog
url: # the base hostname & protocol for your site
author:
street_address: 1155 E 60th St
city: Chicago
state: IL
zip_code: 60637
country: United States of America
phone: (312) 513-4244
page_excerpts: true

# homepage tiles
tiles-source: pages # accepts "posts" or "pages"
tiles-count: 6

# social settings (key must match name of font awesome icon)
# see https://fontawesome.com/icons?d=gallery&p=2&s=brands
# Icons are not shown if value is empty
# You need to restart jekyll for changes to have an effect
socials:
  GitHub: https://github.com/parkerotto
  House: https://chicagostudies.uchicago.edu/
  Google-Plus:
  Instagram:
  LinkedIn: 
  Twitter: 
  Facebook:
  Slack:

# build settings
markdown: kramdown

sass:
  style: compressed

exclude:
- "*.gemspec"
- LICENSE.md
- CONTRIBUTING.md
- README.md 
